@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  color: white
}

:root {}

header, main {
  margin: auto;
  width: 1200px;
}

input {
  color: black
}

main {
  padding: 60px 0;
}

.main-container {
  background-color: #424242
}

.header-container {
  background-color: #212121;
}